<p><p a></p></p>
<style>
  *{
    background:#645E00;
  }
  body{
    height:120;
    width:120;
    background:#FFF579;
    margin:90 140;
    border-radius:20px;
  }
  p{
    height:20;
    width:60;
    background:#FFF579;
    position:fixed;
    margin:-40 30;
    border-radius:15px;
    -webkit-box-reflect:below 160px;
  }
  [a]{
    margin:50 120px;
    rotate:90deg;
  }
</style>

