<p><p a><p><p a b><p><p a c><p><style>
*{background: #92278F;}
body{
  margin:59 95;
  display:flex;
}
p{
    width:30;
    background:#FFF579;}
[a]{
  height:30;
  margin:106 0 0;
}
[b]{
    margin:76 0;
}
[c]{
    margin:46 0;
}
</style>
