<p></p>
<style>
*{background: #7EA26F;}
  body{
    background:#204F23;
    margin:70 120;
    border-block:20px solid #204F23;
    padding: 0 40;
    background-clip:content-box;
  }
  p{
    height:20;
    margin:50 30;
    box-shadow: 50px 0,-50px 0;
    color: #204F23;
  }
</style>
